<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faculty Manage Course</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h2>Welcome to MIU Faculty Page! </h2>
        <h3>Update Profile </h3>
    </div>
    <div class="container">
        <br>
        <a href="/faculty/home">Home</a>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">
    <ul class="list-group">
        <li  class="list-group-item">
            <form th:action="@{/faculty/courses}" method="get">
                <button class="btn btn-md" type="Submit">Select Course Preferences</button>
            </form>
        </li>
        <li class="list-group-item">
            <form th:action="@{/faculty/profile}" method="get">
                <button class="btn btn-md" type="Submit">Manage Profile</button>
            </form>
        </li>
        <li class="list-group-item">
            <form th:action="@{/faculty/block}" method="get">
                <button class="btn btn-md" type="Submit">Manage Block</button>
            </form>
        </li>
    </ul>
</div>
<div class="col-lg-6 col-sm-6 col-md-6">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Faculty Profile</span>
                </div>
                <div class="panel-body">
                    <form th:action="@{/faculty/profileUpdate}" th:object="${faculty}" method="post">
                        <fieldset>
                            <input class="form-control"  type="hidden" th:field="*{id}"/>
                            <input class="form-control"  type="hidden" th:field="*{facultyID}"/>
                            <input class="form-control"  type="hidden" th:field="*{userName}"/>
<!--                            <input class="form-control"  type="hidden" th:field="*{gender}" />-->
<!--                            <input class="form-control"  type="hidden" th:field="*{unwantedBlocks}" />-->
                            <input class="form-control"  type="hidden" th:field="*{preferredCourses}" />
<!--                            <input class="form-control"  type="hidden" th:field="*{sections}" />-->
<!--                            <input class="form-control"  type="hidden" th:field="*{user}"/>-->

                            <div class="form-group">
                                <label for="firstName" class="col-sm-3">First Name: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="firstName" type="text" th:field="*{firstName}" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3">Last Name: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="lastName" type="text" th:field="*{lastName}" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-sm-3">Email: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="email" type="text" th:field="*{email}" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="section" class="col-sm-3">Specialization: </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="section" th:field="*{specialization}">
                                        <option th:each="spec : ${specializations}"
                                                th:value="${spec}" th:text="${spec}">
                                        </option>
                                    </select>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="text-center">
                                <input id="btnAdd" class="btn btn-primary" type="submit" value="Save" />
                                <a class="btn btn-default" th:href="@{/faculty/profile}">Cancel</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-sm-3 col-md-3">

</div>
</body>
</html>
