<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MIU Scheduling System:Student Course Schedule Selection Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron">
    <div class="container">
        <h3>Welcome To Course Selection Page</h3>
    </div>
</div>

<div class="col-lg-3 col-sm-3 col-md-3">

    <h4>View Schedule</h4>
    <ul class="list-inline">
        <li  class="list-group-item">
            <form th:action="@{/student/viewschedule}" method="get">
                <button class="btn btn-md" type="Submit">view Schedule</button>
            </form>
        </li>
    </ul>
    <ul class="list-inline">
        <li class="list-group-item">
            <form th:action="@{/student/registertosection}" method="get">
                <button class="btn btn-md" type="Submit">Register to Section</button>
            </form>
        </li>
    </ul>
    <ul class="list-inline">
        <li class="list-group-item">
            <form th:action="@{/student/updatecourse}" method="get">
                <button class="btn btn-md" type="Submit">Update Course Selection</button>
            </form>
        </li>
    </ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-6"  style="margin-top:40px; margin-right:100px">

    <div class="container"   >

        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="logout"
                    type="Submit">Logout
            </button>
        </form>

        <div class="panel-group" style="margin-top:40px;margin-right: 100px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
                <div class="panel-body">
                    <img th:src="@{/static/images/miu.jpg}" class="img-responsive center-block" width="400" height="400"
                         />
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>

    </div>

</div>

<div class="col-lg-3 col-sm-3 col-md-3">

</div>


</body>
</html>
