<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entry Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Add Course Form</h1>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <form action="#" th:action="@{/admin/addNewCourse}" th:object="${newCourse}" method="post">
        <fieldset>
            <legend>Add New Course</legend>
            <p>
                <label for="courseList">Select Prerequisites: </label>
                <select th:field="*{prerequisit}">
                    <option th:each="prerequisit: ${courseNumberList}" th:value="${prerequisit}" th:text="${prerequisit}">
                    </option>
                </select>
            </p>
            <p>
                <label for = "courseTitle">Course Title:</label>
                <input id="courseTitle" type="text" th:field="*{courseTitle}"/>
            </p>
            <p>
                <label for = "courseNumber">Course Number:</label>
                <input id="courseNumber" type="text" th:field="*{courseNumber}"/>
            </p>
            <p>
                <label for = "courseDescription">Course Description:</label>
                <textarea id="courseDescription" type="text" th:field="*{courseDescription}"></textarea>
            </p>
            <p>
                <label for = "creditHour">Credit Hour:</label>
                <input id="creditHour" type="number" th:field="*{creditHour}"/>
            </p>
            <p>
                <input id="btnAdd" type="submit" value = "Add"/>
            </p>
        </fieldset>
    </form>

</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
</body>
</html>
