<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entry Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Add Entry Form</h1>
    </div>
    <div class="container">
        <br>
        <a href="/admin/home">Home</a>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div id="global" >
        <form action="#" th:action="@{/admin/addnewentry}" th:object="${newEntry}" method="post">
            <fieldset>
                <legend>Add New Entry</legend>
                <p>
                    <label for="entryName">Entry Name:</label><input id="entryName" type="text" th:field="*{entryName}"/>
                </p>
                <p>
                    <label for="FPPNum">FPP Number:</label> <input id="FPPNum" type="text" th:field="*{FPPNum}"/>
                </p>
                <p>
                    <label for="MPPNum">MPP Number:</label> <input id="MPPNum" type="text" th:field="*{MPPNum}"/>
                </p>
                <p>
                    <label for="startDate">Start Date:</label> <input id="startDate" type="date" th:field="*{startDate}"/>
                </p>
                <p>
                    <label for="endDate">End Date:</label> <input id="endDate" type="date" th:field="*{endDate}"/>
                </p>
                <p>
                    <input id="btnAdd2" type="submit" value = "Add"/>
                </p>
            </fieldset>
        </form>
    </div>
</div>
<div class="col-lg-3 col-sm-3 col-md-3">

</div>
</body>
</html>
