<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to MIU Admin Page!</h1>
    </div>

</div>
<div class="col-lg-2 col-sm-2 col-md-2">
    <h4>Manage Users</h4>
    <ul class="list-inline">
        <li  class="list-group-item">
            <form th:action="@{/admin/addfaculty}" method="get">
                <button class="btn btn-md" type="Submit">Add Faculties</button>
            </form>
        </li>
        <li class="list-group-item">
            <form th:action="@{/admin/addstudent}" method="get">
                <button class="btn btn-md" type="Submit">Add Students</button>
            </form>
        </li>
    </ul>
    <h4>Manage Courses</h4>
    <ul class="list-inline">
<!--        <li class="list-group-item">-->
<!--            <form th:action="@{/admin/course}" method="get">-->
<!--                <button class="btn btn-md" type="Submit">Add Course</button>-->
<!--            </form>-->
<!--        </li>-->
        <li class="list-group-item">
            <form th:action="@{/admin/courses}" method="get">
                <button class="btn btn-md" type="Submit">Manage Courses</button>
            </form>
        </li>
    </ul>
    <h4>Manage Blocks</h4>
    <ul class="list-inline">
<!--        <li class="list-group-item">-->
<!--            <form th:action="@{/admin/block}" method="get">-->
<!--                <button class="btn btn-md" type="Submit">Add Block</button>-->
<!--            </form>-->
<!--        </li>-->
        <li class="list-group-item">
            <form th:action="@{/admin/blocks}" method="get">
                <button class="btn btn-md" type="Submit">Manage Blocks</button>
            </form>
        </li>
    </ul>
    <h4>Manage Entries</h4>
    <ul class="list-inline">
<!--        <li class="list-group-item">-->
<!--            <form th:action="@{/admin/entry}" method="get">-->
<!--                <button class="btn btn-md" type="Submit">Add Entry</button>-->
<!--            </form>-->
<!--        </li>-->
        <li class="list-group-item">
            <form th:action="@{/admin/entries}" method="get">
                <button class="btn btn-md" type="Submit">Manage Entries</button>
            </form>
        </li>
    </ul>
    <h4>Manage Sections</h4>
    <ul class="list-group">
        <li class="list-group-item">Sections</li>
    </ul>
    <h4>Generate Report</h4>
    <ul class="list-group">
        <li class="list-group-item">Reports</li>
    </ul>
</div>
<div class="col-lg-7 col-md-7 col-sm-7">

    <div class="container">

        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Logout
            </button>
        </form>

        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
                <div class="panel-body">
                    <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                         alt="MIU"/>
                </div>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-3 col-sm-3 col-md-3">

</div>


</body>
</html>
